/* css styles */


/* justificar el texto */ 
p, ul, ol {
  text-align: justify; }    
  
  
.rojo {
  color: red;
}

.pink-background {
  background-color: pink;
}

.importante {
  color: red;
  background-color: yellow;
}

body {
  background-color: #FFE7FC;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 29px;
}

p {
  font-size: 17px;
}

h3 {
  margin-bottom: 0.75em;
}
